.box-menu__big .item {
  background-image: url("../images/misc/bg-menus.png"); }
  @media screen and (min-width: 768px) {
    .box-menu__big .item {
      padding: 1em 0; } }

.box-menu__big .menu-header {
  padding: 40px 0; }
  @media screen and (min-width: 1015px) {
    .box-menu__big .menu-header {
      padding: 20px 0; } }
  .box-menu__big .menu-header .image {
    width: 50%;
    margin: 0 auto; }

@media screen and (min-width: 1015px) {
  .box-menu__big .single:nth-child(odd) .info {
    float: right; } }

.box-menu__big .single .image {
  float: left;
  text-align: center; }
  @media screen and (min-width: 1015px) {
    .box-menu__big .single .image.asia {
      position: relative;
      top: 160px; } }
  .box-menu__big .single .image img {
    width: 90%; }

.box-menu__big .single .info {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px; }
  @media screen and (min-width: 1015px) {
    .box-menu__big .single .info {
      margin-top: 30px;
      padding: 20px 40px; } }
  .box-menu__big .single .info .title {
    font-family: "Pacifico", cursive;
    font-size: 3em;
    display: inline-block; }
  .box-menu__big .single .info .subtitle {
    margin: 10px 0;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase; }

.box-menu__big .childrens .image {
  text-align: center; }
  .box-menu__big .childrens .image img {
    width: 78%; }

.box-menu__big .doubles .info {
  min-height: 395px;
  margin-bottom: 40px; }
  @media screen and (min-width: 1015px) {
    .box-menu__big .doubles .info {
      margin-right: 20px; } }
  .box-menu__big .doubles .info:nth-child(1) {
    float: left; }
  .box-menu__big .doubles .info:nth-child(2) {
    float: right; }
